@charset "UTF-8";
/*@import Serve para importar uma fonte de um site conforme o exemplo abaixo.*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {/*@font-face serve para usar um fonte baixada no computador seguido dos paramentros font-family > para dar nome a fonte depois utilizar src:url('') para informar o caminho é preciso utilizar aspas simples e para achar a pasta digita barra depois colocar a tag format('opentype')
    depois o peso font-weight: (normal ou bold);*/
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');/*quando o arquivo estiver em outra pasta utilizar ../ */
    font-weight: normal;
}
/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e*/

/*Pseudo Class root é a raiz da arvore tudo que for colocar nesta tag servirá para o documento inteiro.*/

:root {/* toda variavel em css começa com dois traçosEx:--nome*/
--cor0:hsl(147, 64%, 68%);
--cor1:#76e2a7;
--cor2:#3ddc84;
--cor3:#2fa866;
--cor4:#1a5c37;
--cor5:#063d1e;

--fonte-padrao: arial, Verdana, helvetica, sans-serif;

--fonte-destaque: 'Bebas Neue', cursive;
--font-android: 'Android', Cursive;

}

* {/*configuração Global para retirar todas margens dos h1, paragrafos e etc...*/
    margin: 0px;
    padding: 0px;
}

body {
    background-color:var(--cor0);
    font-family: var(--fonte-padrao);

}

header {  
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
    min-height: 150px;/*altura minima do cabeçalho*/
    text-align: center;
    padding-top: 40px;/*parametro utilizado para não deixar o texto do h1 colado na ponta do site*/
}

header > h1 {/* Texto curiosidades*/
    color:#ffffff;
    font-family:var(--fonte-destaque);
    font-size: 3em;/*medida para aumentar o tamanho do h1*/
    padding-bottom: 40px;/*foi colocado esta medida para distanciar o paragrafo do h1*/
    text-shadow:  2px 2px 0px rgba(0, 0, 0, 0.322); /*usado para colocar sombra no texto*/
}


header > p {
    color: #ffffff;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;

    max-width: 600px;/*este parametro foi colocado pq houve um aumento da letra com isso o texto se expandiu então para ele não ficasse estendido é feito este parametro.*/
    
    margin: auto; /*parametro para centralizar o paragrafo, note que não foi usado text-align, por causa que quando foi colocado largura ele vira bloco então se utiliza margin: auto;*/
   
    padding-left: 10px;/* este dois paramentros foi usado para que o paragrafo não encoste nas pontas do site quando o site foi minimizado ou diminuir a tela.*/
    padding-right: 10px;

    
    text-shadow:  2px 2px 0px rgba(0, 0, 0, 0.322); /*usado para colocar sombra no texto*/

    padding: 10px;
    
}

nav  {
    background-color: var(--cor4);
    padding: 10px; 
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);  /*sombra na area do link*/
    
    
}

nav a {
   color: #ffffff;
   text-decoration: none;/*parametro para tirar o underline do link*/
   
   padding: 10px; /*tag usada para afastar um link do outro*/
   font-weight: bold; /* utilizada para colocar peso na fonte ou seja Negrito termo bold*/

   transition-duration: 1s;/*quando passar o mouse ele levará a qty de segundos informado de transição de um para o outro*/
}

nav a:hover {/*quando passar o mouse acontece os parâmetro abaixo*/
    background-color: var(--cor3);
    color: var(--cor5);/*cor da  letra.*/   
    border-radius: 5px; /*Arredondamento das bordas*/
    
    
}

main {
    background-color: #ffffff;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;/*Utilizado para afastar o site que estava encostado no lado esquerdo*/
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main  h1 {
    color: var(--cor5);
    font-family: var(--font-android);
}

main h2 {
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, #9af7c3c4,transparent);/*gradiente utizando a tag (TRANSPARENTE), serve para iniciar na cor e terminar transparent*/
    text-indent: 6px;
}

main p {
    margin: 15px 0px;/*OBS:Como utilizamos a configuração global para ter este espaço é preciso fazer esta configuração*/
    /*configuração usada para dar espaço nos paragrafos contido em main note que foi colocado apenas dois valores estes valores são repetidos para bottom e left os dois valores citados são top e right*/
    text-align: justify;/*alinhamento do texto*/
    text-indent: 30px;/*Serve para fazer o espaço de um inicio de paragráfo*/
    line-height: 2em; /*Altura da linha Serve para colocar um espaço entre uma linha e outra do texto*/
}

main strong {
    color: var(--cor4);
    font-weight: bold;

}

main a {
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
}

main a:hover {
    background-color: #3ddc84;
    color: #1a5c37;
    font-weight: bold;
    padding: 2px 6px;
}

main img {
    width: 100%; /*faz com que as imagem se adaptam no espaço*/
}

main img.pequena {/*Macete para imagem não ficar muito grande que o caso desta imagem foi usado um width com 50% e o display block e margin auto para centralizar */
    max-width: 350px;/*o macete de cima foi retirado pelo professor por a imagem quando diminuia tava ficando muito pequena e tela grande estava muito tremida foi usado max-width: 350px por que a imagem tem 400px*/
    display: block;
    margin: auto;
}

a.externo::after{/*Pseudo elementos utilizar dois pontos e depois a condição after=depois ou before = antes*/
    content: '\1F517'; /* função content serve para inserir simbolos em uma determinada condição.1F517 usar aspas simples + contrabarra + codigo do icone */
}
/*Configurações para ajustes do video*/

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;    
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

/*Configurações para ajustes do video*/

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {/*conteudo periferico*/
    background-color: var(--cor1);
    padding:10px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.534);

}

aside h3 {/*conteudo periferico*/
    background-color: var(--cor4);
    color: #ffffff;
    padding: 10px;
    margin: -10px -10px 0px -10px; /*esta configuração foi feita para o h3 ficar por fora do background do aside foi colocado -10px para cima esquerda e direita e para baixo 0px*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 10 10 0 0;/*obs: 1º valor = encima squerda, 2º valor = encima direita, 3º valor = embaixo direita, 4º valor = embaixo a esquerda*/
}

aside ul {
    list-style-type:'\2714\00A0\00A0';/*Comando para inserir ou trocar simbolo utilizar aspas simples e contra barra seguido codigo do simbolo, para criar um espaço entre o simbolo e o texto utilizar depois do codigo usa contra barra e: (00A-*hyu0)*/
    list-style-position: inside;/*Posição da lista, Inside = para dentro, Outside = para fora*/
    columns: 2;/*Para criar coluna neste comando irá criar 2 colunas*/
}

footer {
    background-color: var(--cor5);
    color: #ffffff;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    
}

footer  a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.2em;
    
}

footer a:hover {
    background-color: #3ddc84;
    color: #1a5c37;
    font-weight: bold;
    text-decoration: none;
    
}